.example-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 2rem;
  gap: 2rem;

  > div {
    max-height: inherit;
    height: inherit;
    max-height: 380px;

    .table-container {
      border-radius: 5px;
      overflow: hidden;
      max-height: 500px;
      width: fit-content;
      height: fit-content;
    }
  }
}
