<h2>Componente Tabla</h2>
<p>
  El componente de tabla es una herramienta poderosa para mostrar datos en una
  presentación tabular. Permite a los desarrolladores presentar información de
  manera organizada y fácil de entender. Con una variedad de opciones de
  personalización y funciones, el componente de tabla es una parte esencial de
  la caja de herramientas del desarrollador para la creación de interfaces de
  usuario ricas en datos.
</p>

<app-code-box title="Basic table" [htmlCode]="ex01_html" [tsCode]="ex01_ts">
  <ng-container lc-title>Basic table</ng-container>
  <ng-container lc-content>
    <lc-table-ov01></lc-table-ov01>
  </ng-container>
</app-code-box>

<h3>Características Principales</h3>
<ul>
  <li>Visualización de datos en formato tabular.</li>
  <li>Ordenamiento de columnas para facilitar la búsqueda.</li>
  <li>Filtrado y búsqueda rápida de datos.</li>
  <li>Personalización de apariencia y estilo.</li>
  <li>Soporte para paginación y navegación.</li>
  <li>Integración con componentes de paginación y filtros.</li>
</ul>

<h3>Uso Básico</h3>
<p>
  Para utilizar el componente de tabla, simplemente incluya el selector en su
  template HTML:
</p>
<code>&lt;app-tabla&gt;&lt;/app-tabla&gt;</code>

<p>
  Esto creará una tabla predeterminada con todos los datos. Sin embargo, es
  posible personalizar la tabla según sus necesidades. Puede definir las
  columnas, el ordenamiento y los filtros que desea aplicar.
</p>

<h3>Ejemplo</h3>
<p>
  A continuación, se muestra un ejemplo básico de cómo puede verse la
  implementación del componente de tabla:
</p>

<p>
  En este ejemplo, `data` representa los datos a mostrar, `columnas` define las
  columnas que desea mostrar, y `ordenInicial` establece la columna de orden
  inicial.
</p>

<p>
  En resumen, el componente de tabla proporciona una solución flexible y
  efectiva para la presentación de datos tabulares en sus aplicaciones. Puede
  personalizar la apariencia y el comportamiento según sus necesidades, lo que
  lo convierte en una herramienta esencial para mostrar y organizar datos de
  manera eficiente.
</p>
