<app-code-box [codeModels]="code_examples_1">
  <ng-container lc-title>Basic table</ng-container>
  <ng-container lc-content>
    <lc-table-ov01></lc-table-ov01>
  </ng-container>
</app-code-box>

<app-code-box [codeModels]="code_examples_2">
  <ng-container lc-title>Basic table with footer</ng-container>
  <ng-container lc-content>
    <lc-table-ov02></lc-table-ov02>
  </ng-container>
</app-code-box>

<app-code-box [codeModels]="code_examples_3">
  <ng-container lc-title>Sticky header, sticky footer and style</ng-container>
  <ng-container lc-content>
    <lc-table-ov03></lc-table-ov03>
  </ng-container>
</app-code-box>

<app-code-box [codeModels]="code_examples_4">
  <ng-container lc-title>Sorting and pagination</ng-container>
  <ng-container lc-content>
    <lc-table-ov04></lc-table-ov04>
  </ng-container>
</app-code-box>

<app-code-box [codeModels]="code_examples_5">
  <ng-container lc-title>Selection with sticky column</ng-container>
  <ng-container lc-content>
    <lc-table-ov05></lc-table-ov05>
  </ng-container>
</app-code-box>
