:host {
  height: -webkit-fill-available;
  overflow: auto;
}

.side-container {
  display: flex;
  flex-direction: row;

  .left-side {
    position: relative;
    .list {
      position: sticky;
      top: 0;
      z-index: 2;
    }
    min-width: 200px;
  }

  .right-side {
    flex-grow: 1;
    padding: 1rem 2rem;

    > .right-side-container {
      width: max-content;
    }
  }
}
