.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    @extend .primary-bg-light !optional;
  }

  .mat-mdc-card-header {
    justify-content: center;
    align-items: center;
  }
}

.dashboard-card-content {
  text-align: center;
  width: -webkit-fill-available;
  > div {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.accent-divider {
  height: 5px;
  width: 50%;
  margin: 1rem auto;
}
