@import "@angular/material/theming";
@import "../../../../lcfw-theme.scss";
/* @include mat-core(); */

$my-primary: mat-color($bluelabel-palette, 600);

.section-header {
  background-color: $my-primary;
  color: mat-color($bluelabel-palette, 800);

  @if (lightness($my-primary) < 50) {
    color: rgba(255, 255, 255, 0.87);
  }

  padding: 1rem;

  > h2 {
    font-weight: 300;
  }
}
