@use "@angular/material" as mat;

@include mat.core();
/* PALETTES */
$bluelabel-palette: (
  50: #eceff1,
  100: #cfd8dc,
  200: #b0bec5,
  300: #90a4ae,
  400: #78909c,
  500: #607d8b,
  600: #546e7a,
  700: #455a64,
  800: #37474f,
  900: #263238,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
  ),
);
$oceano-palette: (
  50: #e4f2fb,
  100: #bcddf5,
  200: #94c9f0,
  300: #6cb3e9,
  400: #50a3e5,
  500: #3895e1,
  600: #3287d4,
  700: #2a75c1,
  800: #2365af,
  900: #184890,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: white,
    800: white,
  ),
);

$primary: mat.define-palette($bluelabel-palette, 700);
$accent: mat.define-palette($oceano-palette, 600);

/* TYPOGRAPHY */
$my-typography: mat.define-typography-config(
  $font-family: "Roboto",
);

$lcfw-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: $my-typography,
  )
);

@include mat.all-component-themes($lcfw-theme);
@include mat.typography-hierarchy($my-typography);
