<div class="example-container" [formGroup]="filterFormGroup">
  <div class="filter-container">
    <div class="form-container">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="From" formControlName="dateFrom" />
          <input matEndDate placeholder="To" formControlName="dateTo" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <span class="gray" [class.green]="!editingForm"
      >{{ editingForm ? "Waitting for filter" : "Filtered" }}
      <span class="mat-caption">
        ({{ lctable._dataSource?.filteredData?.length }}-{{
          lctable._dataSource?.data?.length
        }})
      </span></span
    >
  </div>
  <div class="mat-elevation-z4">
    <lc-table
      #lctable
      [dataSource]="dataSource"
      [tableColumns]="tableColumns"
    ></lc-table>
  </div>
</div>
